include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="static/css/styles.min.css")
	body(class=pageClass)
		.wrapper
			#site-overlay
				.nav-mobile
			#fullpage.content
				include ../modules/header/header
				.line_l_l.line
				.line_l.line
				.line_c.line
				.line_r.line
				.line_r_r.line
				block content
				include ../modules/forms/modal
		#toTop
		script(src="static/js/jquery-3.3.1.min.js")
		script(src="static/js/libs.min.js")
		script(src="static/js/main.js")
		block script
