// Colors
$white: #ffffff;
$black: #000000;
$text: #121814;
$gray: #DDDDDD;

// Sizes
$base-font-size: 16px;
$default-line-height: 1.5 !default;
$default-font-smoothing: subpixel-antialiased !default;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content-size: 1300px;

// Fonts
$min-width: 320px;
$max-width: 1920px;
$min_font: 25px;
$max_font: 40px;